<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

<title>Workout Manager | Home</title>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
		<script src="static/js/html5shiv.min.js"></script>
		<script src="static/js/respond.min.js"></script>
	<![endif]-->
	
	
</head>
<body>
<body background="../static/css/slika17.jpg" >

	<div role="navigation">
		<div class="navbar navbar-inverse">
			<a href="/" class="navbar-brand">FitStrength</a>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav" style="font-size: 1.3em ">
					<li><a href="new-workout">New workout</a></li>
					<li><a href="all-workouts">All workouts</a></li>
					<li><a href="all-trainers">Trainers</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" style="font-size: 1.3em ">
			 		<li><a href="contact">
							Contact</a></li>
					<li><a href="about-us">
							About Us</a></li> 
					<li><a href="https://www.instagram.com"><span class="fa fa-instagram"style="font-size: 22px " ></span>
							</a></li>
					<li><a href="https://www.facebook.com/"><span class="fa fa-facebook"style="font-size: 22x "></span>
							</a></li>
				    <li><a href="https://www.twitter.com"><span class="fa fa-twitter" style="font-size: 22px "></span>
							</a></li>				
							
				</ul>
			</div>
		</div>
<div class="container text-center" style="color:white;font-size:1.4em; font-family:Impact, Charcoal, sans-serif">
  <h2>FitStrength</h2>
  
<p>FitStrength Strength & Conditioning offers the most comprehensive performance enhancement training, reconditioning and personal training in the nation. FitStrength's results- driven approach covers every aspect necessary to achieve your goals, whether they involve sports performance, weight loss, or a healthier lifestyle. Time and effort spent training at FitStrength will translate into peak performance in any athlete's respective sport. If you are looking to lose weight or need a jumpstart to getting back in shape, our trainers will provide the knowledge and the means to help you become fit and stay that way. For athletes recovering from an injury or surgery, we offer a wealth of knowledge and training experience with our FitStrength Training Staff, our In-House Physical Therapist and 5 Massage Therapists.

With highly qualified trainers who truly care about providing their athletes and clients with the best possible experience and the most noticeable results, FitStrength will help you to move far beyond achieving your goals.</p>



<!--  <div class="footer" >
  <p><img src="../static/css/sponsor_logos.jpg"></p>
</div>	--> 
</div>
	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>